<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64165223895-i21850ko4imd9f44nvpq9v686t4gks1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64165223895-i21850ko4imd9f44nvpq9v686t4gks1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAnNngVHZfE4qJejUGY3R9Rp41kIKR-7DM</string>
	<key>GCM_SENDER_ID</key>
	<string>64165223895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-880ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-880ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64165223895:ios:fd53bd4e0dcbcaa8183f92</string>
</dict>
</plist>